@model Wba.Oefening.Students.Web.ViewModels.StudentsDetailsViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
    <tr>
        <td>Id</td>
        <td>Naam</td>
        <td>Vakken</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Course</td>
    </tr>
</table>